/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/etc/config.php
/auth.json
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/lib/internal/phpqrcode/cache/*
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/dev/tools/grunt/configs/local-themes.js
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess
/pub/media/designtool/proof/*
/pub/media/designtool/svg/*
/pub/media/designtool/buss-roll/*
/pub/media/designtool/acrylic-bus-roll/*
/pub/media/designtool/metal-bus-roll/*
/pub/media/canvasprints/*
/pub/media/designtool/canvasprints/*
/pub/media/designtool/designtool-text/*
/pub/media/designtool/printReady/*
/pub/media/designtool/uploaded_files_by_admin/*
/pub/media/designtool/designtool-design/
/pub/media/designtool/360spin/*
/pub/media/designtool/3Dproof/*
/pub/media/uploaded_images/
/pub/media/qrcode/*
/pub/media/temp_upload/*
/pub/media/mageplaza/blog/*
/pub/media/productofweek/*
/pub/errors/local.xml
/pub/errors/local.xml.sample

/var/*
!/var/import/
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
.DS_Store

/.user.ini
/.php_cs.dist
/.travis.yml
/.github
/Gruntfile.js.sample
/package.json.sample
/magento-coding-standard

!/composer.lock